/exercicio1.class
/exercicio2.class
/exercicio3.class
/exercicio4.class
/exercicio5.class
/exercicio6.class
/exercicioExtra1.class
/exercicioExtra2.class
/exercicioExtra3.class
/exercicioExtra4.class
/exercicioExtra5.class
/exercicioExtra6.class
